<div class="container-fluid">
  <div class="question-title">Q&A</div>
  <div>講義タイトル: <%= @lecture_detail.lecture_title_list %></div>
  <br>
  <%= render partial: "questions/new", locals: { question: @question } %>
  <br>
  <% @question.each do |f| %>
  <div class="question-list">
    <%= f.updated_at.to_s(:datetime_jp) %>
    <div>投稿者</div><%= f.user.name %>

    <% if professor_signed_in? %>
      <div class="question-content"><%= link_to f.question_text, lecture_lecture_detail_question_path(@question, f.lecture_detail_id, f.id) %></div>
    <% end %>

    <%if user_signed_in? %>
      <div class="question-content"><%= link_to f.question_text, lecture_detail_question_path(@question, f.id) %></div>
    <% if current_user.id == f.user_id %>
      <%= link_to '編集', edit_lecture_detail_question_path(@question, f.id), method: :get %>
      <%= link_to '削除', lecture_detail_question_path(@question, f.id), method: :delete %>
    <% end%>
    <% end%>
    <br>
  </div>
  <% end %>
</div>