<div class="container-fluid">
  <div class="lecture">
    <h1 class="lecture-main-title">講義詳細</h1>
    <div class="lecture-list">
      <div class="list-title">教授名: <%= link_to @lecture.professor.name_p, professor_path(@lecture.professor_id)%></div>
    </div>

    <div class="lecture-list">
      <div class="list-title">講義名: <%= @lecture.lecture_title%></div>
    </div>

    <div class="lecture-list">
      <div class="list-title"><%= image_tag @lecture.lecture_image.variant(resize: '300x300'), class: 'professor_image' if @lecture.lecture_image.attached? %></div>
    </div>

    <div class="lecture-list-detail">
      <div class="list-title-detail">講義内容 </div>
      <div class="list-title"><%= @lecture.contents%></div>
    </div>
  </div>

  
    <% @lecture_detail.each do |f| %>
    <div class="d-flex justify-content-center">
        <div class="lecture-day">講義日: 
        <div class="lecture-day-list"><%= f.lecture_date %></div>
        </div>
      <div class="lecture-day">講義タイトル: 
        <div class="lecture-day-list"><%= link_to f.lecture_title_list, lecture_detail_path(f.id) %></div>
      </div>
      <br>
    </div>
    <% end %>
</div>