<div class="container-fluid">

<div class="d-flex justify-content-around " style="margin-top: 120px; margin-left: 90px;">
  <div class="my-box w-25">
    <div class="card" style="width: 18rem;">
    <%= image_tag "subject-new.jpg", size: "286x180" %>
      <div class="card-body">
        <h5 class="card-title">・プロフィール！</h5>
        <p class="card-text">登録したプロフィールの確認ができます。</p>
        <%= link_to 'プロフィール', professor_path(current_professor.id), class: "btn btn-primary" %>
      </div>
    </div>
  </div>


  <div class="my-box w-25">
    <div class="card" style="width: 18rem;">
      <%= image_tag "subject.jpg", size: "286x180" %>
      <div class="card-body">
        <h5 class="card-title">・講義の登録を行えます！</h5>
        <p class="card-text">こちらから行う講義の登録を行えます。</p>
        <%= link_to '講義登録', new_lecture_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>

  <div class="my-box w-25">
    <div class="card" style="width: 18rem;">
      <%= image_tag "search.jpg", size: "286x180" %>
      <div class="card-body">
        <h5 class="card-title">・登録した講義の一覧！</h5>
        <p class="card-text">講義毎に登録、生徒の提出物、Q＆Aを確認できます。</p>
        <%= link_to '登録講義一覧', lecture_path(current_professor.id), class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
</div>

<%#= link_to 'プロフィール', professor_path(current_professor.id) %>
<%#= link_to '講義登録', new_lecture_path %>
<%#= link_to '登録講義一覧', lecture_path(current_professor.id) %>
