
<% if user_signed_in? %>
<div>提出物を選択</div>
<%= form_with model:@submission_new, url: lecture_detail_submissions_path(@lecture_detail.id), method: :post, local: true do |f| %>
  <%= f.file_field :user_office %>
  <br>
  <%= f.submit '提出' %>
<% end %>
<% end %>


<% submissions.each do |f| %>
  <% if professor_signed_in? %>
  <div class="submisstion-box">
    <%= f.user.name %>
    <%= link_to f.user_office.filename, rails_blob_path(f.user_office, disposition: 'attachment') %>
    <br>
    </div>
  <% end %>
  
  
  <% if user_signed_in? %>
    <% if current_user.id == f.user_id%>
    <div class="submisstion-box">
      <%= current_user.name %>
      <%= link_to f.user_office.filename, rails_blob_path(f.user_office, disposition: 'attachment') %>
      <%= link_to '削除', lecture_detail_submission_path(submissions, f.id), method: :delete %>
      <br>
    </div>
    <% end %> 
  <% end %> 
<% end %>
