<h1>教材登録一覧</h1>

<%= search_form_for @p, url: subjects_search_path do |f| %>
  <%= f.label :subject_grade_genre_id_eq, '学年：' %>
  <%= f.select(:subject_grade_genre_id_eq, SubjectDetail.grade.map { |s| [s[:name], s[:id]] }) %>
  <br>
  <%= f.label :subject_period_genre_id_eq, '期間：' %>
  <%= f.select(:subject_period_genre_id_eq, SubjectDetail.period.map { |s| [s[:name], s[:id]] })%>
  <br>
  <%= f.submit '検索' %>

 <br>
  <%= '教材一覧' %>
    <% @subject_details.each do |ff| %>
  <td>
  <br>
  <li>
    <%= ff.curriculum %>
    <%= ff.unit %>
    <%= ff.select_genre_id%>
    <%= ff.week_genre_id %>
    <%= ff.time_genre_id %>
    <%= ff.result_genre_id %>
  </li>
    <% end %>
<% end %>



 
