<div class="container-fluid">
  <div class='lecture-details'>
    
    <%= link_to '講義更新', new_lecture_lecture_detail_path(@lecture.id), metod: :get %>
    <%= link_to '戻る', lecture_path(current_professor.id), metod: :get %>

    <div class="container-fluid">
      <div class="lecture">
        <h1 class="lecture-main-title">講義詳細</h1>
        <div class="lecture-list">
        <div class="list-title">教授名: <%= @lecture.professor.name_p %></div>
      </div>

      <div class="lecture-list">
        <div class="list-title">講義名: <%= @lecture.lecture_title %></div>
      </div>

      <div class="lecture-list">
        <div class="list-title"><%= image_tag @lecture.lecture_image.variant(resize: '300x300'), class: 'professor_image' if @lecture.lecture_image.attached? %></div>
      </div>

      <div class="lecture-list-detail">
        <div class="list-title-detail">講義内容 </div>
        <div class="list-title"><%= @lecture.contents %></div>
      </div>
    </div>
  
  <div class="d-flex flex-column">
     <div class="">講義内容は、下記の講義タイトルから確認できます！</div>
      
      <% @lecture_detail.each do |f| %>
        <table>
          <tbody>
              <tr>
                <th>講義日</th>
                <td><%= f.lecture_date %></td>
                <th>講義タイトル</th>
                <td><%= link_to f.lecture_title_list, lecture_lecture_detail_path(@lecture_detail, f.id), method: :get %></td>
              </tr>
          </tbody>
        </table>
      <% end %>
    </div>
</div>